In [8]:
import mysql.connector
import pandas as pd
from pypika import Table, Query, functions

user = 'root'
password = '24082408'
host = 'localhost'
database = 'bsc-explorer'

cnx = mysql.connector.connect(
    user='root',
    password='24082408',
    host='localhost',
    database='bsc-explorer'
)

season = '2020-21'
competition = 'UEFA Nations League A'

t_games = Table('games')
t_teams = Table('teams')

query = Query.from_(t_teams).join(
            t_games
        ).on(
            t_teams.gameId == t_games.id
        ).groupby(
            t_games.gameDate
        ).select(
            t_games.gameDate,
            functions.Count(t_games.gameDate).distinct().as_('aaa')
        )
print(query.get_sql())


seasons = pd.read_sql(query.get_sql(), cnx)
seasons

SELECT games.gameDate,COUNT(DISTINCT games.gameDate) aaa FROM teams JOIN games ON teams.gameId=games.id GROUP BY games.gameDate

      gameDate  aaa
0   2019-08-11    1
1   2019-12-01    1
2   2019-12-07    1
3   2019-12-26    1
4   2020-09-12    1
5   2020-09-20    1
6   2020-09-26    1
7   2020-09-28    1
8   2020-10-04    1
9   2020-10-17    1
10  2020-10-24    1
11  2020-10-31    1
12  2020-11-02    1
13  2020-11-07    1
14  2020-11-08    1